.container {  
  width : 100vw;
  height : 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.start-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .75rem .532rem;
  min-width: 72px;
  font-size: 14px;
  font-weight: 800;
  line-height: 1;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
}

